<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportesPav.Properties.Settings.bicicleteriaConnectionString"
            connectionString="Data Source=bicicleteria.mssql.somee.com;Initial Catalog=bicicleteria;User ID=milizc_SQLLogin_1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>